rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 일정 컬렉션
    match /schedules/{scheduleId} {
      allow read: if true;
      allow create: if true;
      allow update: if true; // 동행자 추가 허용
      allow delete: if false;
    }
    
    // 신청 내역 로그
    match /applications_log/{logId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    
    // 게시판
    match /board_posts/{postId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    
    // 방명록
    match /guestbook/{entryId} {
      allow read: if true;
      allow create: if true;
      allow delete: if true;
    }
  }
}
